h1 {
  font-size: 52px;
}

h4 {
  padding-left: 30px;
  text-decoration: underline;
}

ul {
  list-style: none;
  display: inline;
}

#weather-info {
  margin-top: 90px;
}

.dayTime {
  font-size: 22px;
}

div .weatherAppCard {
  padding: 20px;
  margin: 100px 90px 10px 90px;
  background: linear-gradient(#d9afd9, #97d9e1);
  font-family: "JetBrains Mono", monospace;
  border-top: 1px solid #97d9e1;
  border-bottom: 1px solid #d9afd9;
  box-shadow: 1px 1px 1px 1px rgba(54, 14, 70, 0.2);
}

div .hourlyForecast {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 15px 10px 15px;
}

#temperature {
  font-size: 50px;
}

#weather-descriptor {
  font-size: 20px;
  text-transform: capitalize;
}

#big-icon {
  float: left;
}

#search-button,
#current-location-button {
  background-color: rgb(238, 236, 236);
  border: solid 2px #98d8e1;
  box-shadow: 2px 2px 1px 1px rgba(138, 34, 179, 0.2);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

#current-location-button:hover {
  color: black;
  background-color: rgba(152, 221, 248, 0.644);
  border: solid 2px rgba(238, 236, 236, 0.76);
}

#search-button:hover {
  color: black;
  background-color: rgba(152, 221, 248, 0.644);
  border: solid 2px rgba(238, 236, 236, 0.76);
}

#current-location-button {
  margin-top: 15px;
  float: right;
}

.units {
  margin-left: 15px;
  font-size: 18px;
}

.units a {
  color: #000000;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

#forecast {
  text-align: center;
}

#open-source-link {
  text-decoration: none;
  color: #499daa;
  font-family: "JetBrains Mono", monospace;
  margin-left: 90px;
}

#code-author {
  font-family: "JetBrains Mono", monospace;
  color: #a04ea0;
}
#open-source-link:hover {
  text-decoration: underline;
}
